<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="main" id="mainNav" role="navigation">
       
        <a href="/credits">Créditos</a>
        <a href="/quizzes">Quizzes</a>
</nav>
  </body>
</html>
