<!DOCTYPE html>
<html>
  <head>
    <title>Lista de Quizzes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lista de quizzes</h1>
    <% for (var i in quizzes) { 
       quiz=quizzes[i] %>
       <p><%= quiz.question %> : <%= quiz.question %></p>
  
        <% } %>
  </body>
</html> 
